<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .colortype {
        color: yellow;
    }

    .boder1 {
        border: solid 1px;
    }

</style>

<body>

<div id="app">
    {{id}}
    {{name}}
    {{age}}
    {{address}}
    <br>
    v-text:<span v-text="name"></span>

    <br>
    <input type="text" v-model="age">
    <br>
    <input type="button" v-on:click="findThis" value="查看this">
    <br>
    <input type="button" @click="findThis" value="查看this">
    <br>

    <ul>
        <li v-for="(user,index) in users" :key="index" v-if="user.id > 1">
            {{index}}
            {{user.id}} {{user.name}} {{user.age}} {{user.address}}
        </li>
    </ul>

    <br>
    <input type="button" @click="show=!show" value="点我啊！">

    <div v-if="show">
        我出现了！！！
    </div>
    <br>
    <br>
    <input type="text" v-model="bindValue">
    <input type="button" v-bind:value="bindValue">

    <br>
    <br>
    <input type="button" @click="isActive=!isActive" value="修改颜色">
    <br>
    <div :class="{colortype :isActive}" class="boder1">
        我是Active
    </div>

    <br>
    <br>
    {{timeByFormat}}
    <br>
    <br>
    <button @click="age++">点我啊！！</button>


</div>

</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script type="application/javascript">
    const app = new Vue({
        el: "#app",
        data: {
            bindValue: "属性值动态修改",
            isActive: true,
            show: false,
            id: 1,
            name: 'csz',
            age: 22,
            address: "茅家岭",
            users: [
                {
                    id: 1,
                    name: 'csz',
                    age: 22,
                    address: "茅家岭"
                },
                {
                    id: 2,
                    name: 'csz',
                    age: 22,
                    address: "茅家岭"
                },
                {
                    id: 3,
                    name: 'csz',
                    age: 22,
                    address: "茅家岭"
                },
                {
                    id: 4,
                    name: 'csz',
                    age: 22,
                    address: "茅家岭"
                },

            ]
        },
        methods: {
            //ES6,对象中函数的三种声明方式：fun1 、fun2 、fun3(随意取名)
            fun1: function () {
                console.log("fun1");
            },
            fun2() {
                console.log("fun2");
            },
            fun3: () => {
                console.log("fun3");
            },
            findThis() {
                console.log(this);
            }
        },
        computed: {
            //vue对象会把computed内的函数，作为date属性的值返回  相当于data中的: id、name、age、address
            timeByFormat() {
                const date = new Date();
                return date.getFullYear() + "年" + date.getMonth() + "月" + date.getDate() + "日";
            }

        },
        watch: {
            //用户监控date:age的属性值，age值的改变会调用age()方法
            age(beforeValue, afterValue) {
                console.log(beforeValue);
                console.log(afterValue);
            }
        },
        create() {
            //vue生命周期中的 create()钩子函数

        }
    });


</script>

</html>